body{
  font-family: sans-serif;
  font-size:110%;
  background-color: #FCF7F8;
}

header {
  text-align: center;
  background-color: #343330;
}

footer {
  background-color: #343330;
  text-align: center;
  
  #idLinkedInIcon{background-color:rgb(0, 102, 170);border-radius:50%;color:white;cursor:pointer;display:inline-block;font:bold 23px Arial, Helvetica, sans-serif;height:30px;margin-top:1px;text-align:center;width:30px;}
  #idLinkedInIcon:hover{background-color: white; color:rgb(0, 102, 170); font:bold 28px Arial, Helvetica, sans-serif;height:35px;margin-bottom:9px;text-align:center;width:35px;
}

nav {
  background-color: burlywood;
}

}